@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    #__next {
        @apply h-full bg-gray-50;
    }
    html,
    body {
        @apply h-full;
    }
    .MuiDataGrid-main {
        overflow: visible;
    }

    .css-axafay-MuiDataGrid-virtualScroller {
        overflow: visible;
    }
    .css-wz3c3n-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight) > .MuiDataGrid-cell {
        overflow: visible;
    }
}

.w-fit {
    width: -webkit-fill-available;
}

.textfield-appearance {
    -moz-appearance: textfield;
}

.textfield-appearance::-webkit-outer-spin-button,
.textfield-appearance::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
