@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    #__next {
        @apply h-full max-h-full bg-gray-50;
    }
    html,
    body {
        @apply h-full max-h-full;
    }
}

.w-fit {
    width: -webkit-fill-available;
}

.textfield-appearance {
    -moz-appearance: textfield;
}

.textfield-appearance::-webkit-outer-spin-button,
.textfield-appearance::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #cbd5e1 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 12px;
    border: 3px solid #ffffff;
}
